/* Name: Matt Nguyen
Course: CPSC 332
Assignment: HW 3
Last Modified: 10.04.2022 */

body {
    color:antiquewhite;
    font-family: belleza;
    font-size: 16px;
}

body a {
    color: antiquewhite;
}

body a:hover {
    color: antiquewhite;
}

/* Main divs */
.header {
    background-color: #999e71;
    height: 60px;
}

.intro {
    background-color: #6d7556;
    float: left;
    width: 20%;
    height: 100vh;
}

.main {
    background-color: #4a4f3b;
    float: left;
    width: 80%;
    height: 100vh;
}


/* Styling within .intro */
.intro p {
    font-size: large;
    padding-left: 10px;
}

.intro section {
    background-color: #999e71;
    padding-left: 7px;
    padding-bottom: 30px;
    
}

.intro section h2 {
    font-size: large;
    padding-left: 2px;
    padding-top: 20px;
}

.intro span {
    font-size: 13px;
}
.intro img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    border-radius: 20%;
}

 /* Styling within .main */

 /* career summary */
.main .car_sum{
    padding: 8px 20px 20px 20px;
}
.main .car_sum table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #ffeaca;
    margin-left: auto;
    margin-right: auto;
}

.main .car_sum table td {
    text-align: center;
}

.main .car_sum table tr:nth-child(even) {
    background-color:  #999e71;
}

.main .car_sum table caption{
    font-size: large;
    padding-top: 10px;
    text-align: left;
}

/* education & qualifications */
.main .edu {
    padding-top: 2px;
    padding: 20px;
    font-size: 15px;
}

.main .edu table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #ffeaca;
    margin-left: auto;
    margin-right: auto;
}

.main .edu .qual {
    padding-top: 40px;
}

.main .edu table tr:nth-child(even) {
    background-color:  #999e71;
}

.main .edu table caption{
    font-size: large;
    padding-top: 10px;
    text-align: left;
}

.main .edu table td {
    text-align: center;
}

 /* core skills */
 .main .skls {
    padding: 40px 20px 20px 100px;
    float: left;
    font-size: large;
 }
.main .skls p {
    font-size: large;
}

.main .skls ul {
    list-style-type: circle;
}

/* interests */
.main .intrst {
    padding: 40px 20px 20px 200px;
    float: left;
}
.main .intrst ol {
    list-style-type: lower-roman;
    font-size: large;
    display: inline;
    float: left;
}

.main .intrst p {
    font-size: large;
}

.main .intrst a img {
    width: 100px;
    float: left;
    padding: 20px;
    border-radius: 50%;
}

 /* Styling within .header */

.header img {
    width: 80px;
    border-radius: 70%;
    float: left;
}

.header nav ul li {
    display: inline;
    font-size: large;
    float: left;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header nav ul li a {
    color: antiquewhite;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header nav ul li a:hover {
    background-color:#6d7556;
  }


